body{
    font-family: 'Montserrat';
    
}



html {
    scroll-behavior: smooth;
  }

*{
    margin: 0px;
    padding: 0pxs;
}

a{
    text-decoration: none !important;
}

.fixed-nav {
    position: fixed !important;
    background-color: white;
    margin-top: 0px !important;
    z-index: 2;
    box-shadow: 2px 7px 14px -5px rgba(117,111,117,0.91);
}

.fixed-nav .nav-link{
    color: black !important;
}

.fixed-nav .social-icon{
    display: none;
}

.navbar-brand .dark-logo{
    display: none;
}

.fixed-nav .navbar-brand .white-logo{
    display: block;
}

.fixed-nav .navbar-brand .dark-logo{
    display: block;
}

.fixed-nav .navbar-brand .white-logo{
    display: none;
}

.nav-link{
    position: relative;
}

.nav-link::after{
    position: absolute;
    content: '';
    width: 0px;
    left: 0;
    background: red;
    height: 2px;
    bottom: 0px;
    transition: width .8s ease-in-out;
}

.nav-link.active::after{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    background: red;
    height: 2px;
    bottom: 0px;
}

.nav-item:hover .nav-link::after{
    width: 100%;
}

.btnicon{
    background-color: black !important;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    padding: 20px 60px;
    border: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

section{
    padding: 80px 0px;
}

.navbar{
    position: absolute;
    width: 100%;
    margin-top: 10px;
}

.navbar-nav  .nav-link{
    color: white;
    margin-right: 20px;
    font-weight: 500;
}

.social-icon{
    margin-top: 15px;
}


.social-icon li{
    display: inline-block;
}

.social-icon li a{
    color: white;
    margin-right: 10px;
    font-size: 16px;
    line-height: 10px;
}

.social-icon li a:hover{
    color: red;
}

#main-section{
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 150px 0px 150px 0px;
}



.main-title h3{
    color: white;
    font-size: 42px;
    line-height: 72px;
}

.main-title h3 strong{
   font-weight: 800;
   font-size: 72px;
}

.txt-red{
    color: red;
}


.main-title p{
    color: white;
    font-size: 22px;
}

.main-title button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px;
    height: 56px;
    line-height: 50px;
    font-size: 1.175rem;
    padding: 0px 30px;
    position: relative;
    margin-top: 20px;
}

.main-title button span{
    margin-right: 40px;
}

.main-title svg:not(:root).svg-inline--fa{
    font-size: 38px;
    position: absolute;
    top: 8px;
    right: 10px;
}

.car-price{
    color: white;
    color: #ffffff;
    font-weight: 300;
    font-size: 22px;
}

.car-price strong{
    font-weight: 700;
    font-size: 36px;
    padding-left: 10px;
    border-bottom: 2px solid red;
}

.car-price{
    text-align: right;
}

.main-head{
    text-align: center;
}

.title{
    margin-bottom: 40px;
}

.title h2{
    font-weight: 400;
    color: red;
    text-transform: uppercase;
}

.title h1{
    font-weight: 700;
    line-height: 40px;
    font-size: 52px;
    color: black;
    text-transform: uppercase;
}

.title p{
    font-size: 22px;
    line-height: 1.6;
    margin-top: 20px;
}


.read-btn{
    border-radius: 50px;
    border: 3px solid black;
    height: 56px;
    line-height: 50px;
    padding: 0px 30px;
    color: black;
    font-weight: 700;
    position: relative;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}


.read-btn span{
    margin-right: 30px;
}

.read-btn svg:not(:root).svg-inline--fa{
    font-size: 38px;
    position: absolute;
    top: 6px;
    right: 10px;
}

.read-btn:hover{
     background: black;
     color: white;
}

.read-btn:hover svg:not(:root).svg-inline--fa{
    color: white;
}

.play-btn{
    position: absolute;
    background-color: red;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;

}

.play-btn svg:not(:root).svg-inline--fa {
    font-size: 28px;
    position: absolute;
    top: 20px;
    left: 24px;
    color: white;
}

.blueprint-car{
    margin-top: 140px;
}

.twentytwenty-left-arrow {
    border-right: 6px solid red !important;
}

.twentytwenty-right-arrow {
    border-left: 6px solid red !important;

}

.twentytwenty-handle {
    background-color: black;
}

.feature-img{
    margin-top: 60px;
}

.feature-menu{
    list-style-type: none;
    padding: 0px;
}

.feature-menu li{
   margin-bottom: 20px;
   position: relative;
}


.feature-menu li .f-item{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 32px;
    margin-left: 0px;
    transition: margin-left  ease-in-out .6s;
}


.f-item.active{
    font-weight: 600 !important;
    margin-left: 50px !important;
}


.f-item::before{
    position: absolute;
    content: '';
    background-color: red;
    height: 2px;
    top: 25px;
    left: 0px;
    width: 0px;
    transition: width ease-in-out .6s;
}

.f-item.active::before{
    width: 30px;
}

.g-img{
    padding: 5px;
}

.g-img img{
    height: 250px;
}

.e-img{
    padding: 5px;
}

.e-img img{
    height: 400px;
}

.car-slider{
    margin-top: 60px;
}

.car-slider .owl-dots button.owl-dot span{
    width: 32px;
    height: 32px;
    margin: 0px 0px;
}

.car-slider .owl-dots button.owl-dot {
    min-width: inherit;
    border-radius: 50%;
    margin: 0px 10px;
}

.car-slider .owl-dots button.owl-dot:nth-child(1) span{
    background: #a92323;
}
.car-slider .owl-dots button.owl-dot:nth-child(2) span{
    background: #c0b714;
}
.car-slider .owl-dots button.owl-dot:nth-child(3) span{
    background: #4f9e8d;
}
.car-slider .owl-dots button.owl-dot:nth-child(4) span{
    background: #509a4b;
}
.car-slider .owl-dots button.owl-dot:nth-child(5) span{
    background: #987233;
}

.car-slider .owl-dots button.owl-dot.active {
    animation: ripple 1s linear infinite;
}

@keyframes ripple{
0% {
    box-shadow: 0px 0px 0px 3px #ffffff, 0px 0px 0px 6px rgb(211 7 7 / 0%);
}

50% {
    box-shadow: 0px 0px 0px 3px #ffffff, 0px 0px 0px 6px rgb(211 7 7);
}
100% {
    box-shadow: 0px 0px 0px 3px #ffffff, 0px 0px 0px 6px rgb(211 7 7 / 0%);
}
}

button:focus {
    outline: 0px;
}

#engine{
    background: black;
    padding: 80px 0px;
}

.e-box{
    border: 2px solid grey;
    border-radius: 20px;
    text-align: center;
    padding: 20px 10px;
}

.e-box img{
    width: 35%;
}

.e-content .icon-title {
    font-size: 14px;
    color: white;
}

.e-content{
    margin-top: 20px;
}

.e-content p {
    font-size: 24px;
    color: red;
}

.e-content p span{
    font-size: 20px;
    display: block;
    color: white;
    font-weight: 700;
}

.roundbutton{
    background-color: red;
    color: white;
    border: 2px solid red !important;
    border-radius: 50px;
    height: 56px;
    line-height: 50px;
    font-size: 1.175rem;
    padding: 0px 30px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
}

.roundbutton span{
    margin-right: 40px;
}

.roundbutton svg:not(:root).svg-inline--fa{
    font-size: 38px;
    position: absolute;
    top: 8px;
    right: 10px;
}

.roundbutton:hover{
    background-color: transparent;
    color: white;
}

#accessories{
    padding: 80px 0px 0px 0px !important;
}

.accessories-img{
    bottom: 0px;
    position: relative;
    z-index: -1;
}

form .form-control{
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    background: transparent;
    color: white;
}

.form-control::placeholder{
    color: white; 
}

form textarea{
    min-height: 200px;
    max-height: 200px;
    padding: 10px 40px !important;
}


select.form-control:not([size]):not([multiple]) {
    height: auto;
    padding: 10px 20px;
}

.inputfield{
}

#book{
    background: url(../img/bg-10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#book::before{
    content: '';
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.8;
}

#finddealer form .form-control{
    border: 2px solid #cccccc;
    border-radius: 50px;
    padding: 10px 20px;
    background: transparent;
    color: grey;
    color: #495057;;
}

#book .blackbtn{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.blackbtn{
    background-color: black !important;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    padding: 20px 60px;
    border: 2px solid black !important;
    cursor: pointer;
}

.blackbtn:hover{
    background-color: transparent !important;
    color: black !important;
    border: 2px solid black !important;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none !important;
}



footer{
    background: black;
    padding: 80px 0px 0px 0px;
    color: #8c8c8c;
}

.f-box img{
    width: 200px;
    margin-bottom: 40px;
}

.f-box p{
    font-size: 16px;
}

.f-title h3{
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.usefullinks{
    list-style-type: none;
    padding: 0px;
}

.usefullinks li{
    font-size: 16px;
    margin: 10px 0px;
    padding-left: 30px;
    position: relative;
}

.usefullinks li svg:not(:root).svg-inline--fa {
    position: absolute;
    left: 0px;
    top: 3px;
    color: red;
}

.usefullinks li a{
    color: #8c8c8c;
    text-decoration: none;
}

.widget-info{
    position: relative;
    display: block;
    padding-left: 50px;
    margin-bottom: 20px;
}

.widget-info svg:not(:root).svg-inline--fa {
    position: absolute;
    left: 0px;
    color: #8c8c8c;
    font-size: 24px;
}

.widget-info h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.f-box .subsribe svg:not(:root).svg-inline--fa {
    color: red;
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 37px;
}

.f-box .subsribe{
    border-radius: 50px;
    position: relative;
    background-color: white;
    padding: 10px 10px;
}

.f-box .subsribe input{
    border: none;
}

.follow{
    margin-top: 40px;
}

.follow h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
}

.follow ul{
    list-style-type: none;
    padding: 0px;
}

.follow ul li{
    background-color: #333333;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 52px;
    float: left;
    margin-right: 20px;
    display: block;
} 

.follow ul li:hover{
    background-color: red;
} 

.follow ul li:hover a{
    color: white;
    display: block;
} 

.follow ul li a{
    font-size: 24px;
    color: #8c8c8c;
} 

.copyright{
    margin-top: 40px;
    border-top: 1px solid #282828;
    padding: 20px 0px;
}

.copyright p{
    margin: 0px;
}

.copyright  b{
    color: red;
}